node_modules
out
dist
dist-zip
release
*.tgz
.next

coverage
*.lcov

logs
*.log

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache
*.tsbuildinfo
*.config.d.ts

.DS_Store
.turbo
.vercel
apps/extension/evals/results
apps/extension/store/generated
apps/extension/store/screenshots
